* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

section {
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.view-highscores {
}

.timer {
}